.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* sem esse display:inline-block ele não permiiria dar altura ou largura para o icone de menu */
    display: inline-block;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg");
    background-size: 40px; 
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* ele vai se o conatienr estiver com :checked e vai pegar o elemento que tem tal classe e vai por display-block nele */
.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    /* este de baixo não aplica na fonte */
    background: var(--azul-degrade);
    /* webkit permite que este metodo de aplicar cores usando o backgroud se abrabga em vários navegadores */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* este de baixo faz com que a cor degrade se aplique somente ao texto */
    background-clip: text;
    text-transform: uppercase;
}
.container__botao{
    /* faz com que aquele quadradinho do checkbox suma, porem ele ainda vai estar lá funcionando só não vai aparecer */
    display: none;
}

/* TIRANDO ELEMENTOS */

/* aqui tiramos aquele titulo ALuraBooks para tela de celular */
.container__titulo {
    display: none;
}
.opcoes {
    display: none;
}

/* TIRANDO ELEMENTOS DE TELA DE COMPUTADOR*/
.container__texto {
    display: none;
}

/* screen é uma meditype e quer dizer tela */
@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
        
    }
    .container__titulo {
        font-weight: 400;
        /* aqui permitimos com que apareça o titulo AluraBooks */
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }
    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho__menu-hamburguer {
        display: none;
    }
    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        /* faz com que fique do tamnaho das letars que cobame dentro */
        width: auto;
    }
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item {
        padding: 1em;
    }

    .lista-menu__item:hover {
        background-color: var(--azul-degrade);
    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
        padding-left: 2em;
    }
    .container__texto {
        display: block;
    }
}